.Button {
    color: #fff;
    font-size: 16px;
    box-sizing: content-box;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px gray;
}

.Button:active {
    box-shadow: none;
}